/* Общий стиль для контейнера конвертора валют */
.currency-converter {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Стиль для ввода суммы */
  .amount-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  /* Стиль для выбора исходной валюты */
  .from-currency-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  /* Стиль для выбора целевой валюты */
  .to-currency-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  /* Стиль для кнопки конвертации */
  .convert-button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Стиль для отображения результата */
  .result {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  